*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea/
/server/node_modules/
/app/google-services.json
.externalNativeBuild
.cxx
local.properties
server/db/petify-e841c-firebase-adminsdk-xmnal-c2ce2df224.json
server/db/*.json

