<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Chat</title>
    <style>
      /* CSS for the chat interface */
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      #messages {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 10px;
      }
      #sendMessageButton {
        padding: 10px;
        background-color: #007bff;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Admin Chat</h1>

    <div id="messages"></div>

    <input type="text" id="messageInput" placeholder="Type your message" />
    <button id="sendMessageButton">Send Message</button>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      // Admin đăng ký vào phòng 'admin' để nhận tin nhắn
      socket.emit("register", "675c53ee1a5b2c003f94a04c");

      // Lắng nghe tin nhắn từ người dùng
      socket.on("receiveMessage", (message) => {
        console.log("Message from user: ", message); // Log tin nhắn nhận từ người dùng
        const messagesContainer = document.getElementById("messages");
        const messageElement = document.createElement("div");
        messageElement.textContent = `${message.sender}: ${message.content}`;
        messagesContainer.appendChild(messageElement);
      });

      // Gửi tin nhắn admin tới người dùng
      document
        .getElementById("sendMessageButton")
        .addEventListener("click", () => {
          const messageInput = document.getElementById("messageInput");
          const content = messageInput.value.trim();

          if (content) {
            const userId = "675c53ee1a5b2c003f94a04c"; // ID người dùng mà Admin đang trò chuyện
            socket.emit("sendAdminMessage", { user_id: userId, content });

            messageInput.value = ""; // Clear input field
          }
        });
    </script>
  </body>
</html>