<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- zalopay -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/img_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petify"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".ui.productdetail.FromNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.PaymentSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".ui.invoice.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.createpassword.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.review.ReviewWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.OtpSendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.helpcenter.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.privacypolicy.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />

        <service
            android:name=".base.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".base.service.NotiFromServer"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.productdetail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false" />

        <activity
            android:name=".payment.zalopay.PaymentNotificationActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".payment.zalopay.ZalopayMainActivity"
            android:exported="false" />
    </application>

</manifest>